<div class="alert alert-success">

</div>
<div class="well">
  <%= form_tag(main_app.curation_concerns_file_sets_path(parent_id: @presenter.id), html: { multipart: true, id: 'browse_everything_form'}, method: 'post') do %>
      <%= hidden_field_tag(:batch_id, @batch_id) %>
      <%= button_tag(t('curation_concerns.upload.browse_everything.browse_files_button'), type: 'button', class: 'btn btn-lg btn-success', id: "browse-btn",
        'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
        'data-target' => '#browse_everything_form' ) %>
      <%= button_tag("Submit selected files", type: 'submit', class: 'activate-submit btn btn-lg btn-primary', id: "submit-btn") %>
  <% end %>

  <p id="status">0 items selected</p>
</div>
<script>
  // Update the count in #status element when user selects files.
  $(document).ready(function() {
    $('#browse-btn').browseEverything()
      .done(function(data) {
        $('#status').html(data.length.toString() + " <%= t('curation_concerns.upload.browse_everything.files_selected')%>")
        $('#submit-btn').html("Submit "+data.length.toString() + " selected files")
      })
  });
</script>